<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{ asset('css/css.css') }}">
    {% endblock %}
</head>

<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Musée du louvre</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('reservation_date') }}">Réservation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body">
        {% block body %}

        {% endblock %}
    </div>

    <footer>
        <p>Thomas Bredillet © {{ 'now'|date('Y') }} <i>Musée du Louvre</i></p>
    </footer>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        function DisableTuesday(date) {

            var day = date.getDay();
            if (day == 2) {

                return [false] ;

            } else {

                return nationalDays(date);
            }

        }

        natDays = [
            [5, 1, 'fr'], [11, 1, 'fr'], [12, 25, 'fr']
        ];

        function nationalDays(date) {
            for (i = 0; i < natDays.length; i++) {
                if (date.getMonth() == natDays[i][0] - 1
                        && date.getDate() == natDays[i][1]) {
                    return [false, natDays[i][2] + '_day'];
                }
            }
            return DisableSunday(date);
        }

        function DisableSunday(date) {

            var day = date.getDay();
            if (day == 0) {

                return [false] ;

            } else {

                return [true, ''];
            }

        }

        $('.date').datepicker({
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            minDate:0,
            beforeShowDay: DisableTuesday
        });
    </script>
{% endblock %}
</body>
</html>